<h2 class="pb0 mb15 mt25">Клип карты</h2>
<div class="page-description mb25">Наши Уникальные программы</div>

<div class="clip-cards">
    <form action="">
        <p class="clip-cards-text">Выберите необходимый тип тренировок</p>
        <ul class="clip-cards-list">

        </ul>

        <div class="clip-cards-variants">
            <div>
                <small>Выберите необходимое количество тренировок:</small>
                <div class="count">
                    25 тренировок
                </div>
                <small class="clip-cards-card-period">
                    Время действия клип карты <span class="value">90 дней</span>
                </small>
            </div>

            <div class="clip-cards-slider">
                <input type="text" id="ClipCardsSlider" name="count" value="" />
            </div>

            <div class="clip-cards-variants-right">
                <small>Стоимость:</small>
                <div class="cost">
                    20000 ₽
                </div>
                <small class="clip-cards-cost-per-one">
                    (Стоимость одной тренировки <span class="value">800</span> ₽)
                </small>
            </div>

            <div class="mt25 text-center">
                <button type="submit" class="-button -fz-small -w300">ВОЙТИ/КУПИТЬ 25 тренировок</button>
            </div>
        </div>
    </form>
</div>