<h2 class="pb0 mb15 mt25">Месяц интенсивных тренеровок</h2>

<div class="page-description">
    Наши Уникальные программы
</div>

<div class="intensives mt25">
    <div class="intensive">
        <div class="intensive-image" style="background-image: url(/img/mg-4139.jpg);">
            <div class="intensive-info">
                <p>
                    Тренировочная программа направленна на улучшение осанки, снятию мышечных болей, зажимов и блоков, создание мышечного баланса и укрепление пасторальных мышц, отвечающих за здоровье и функциональное состояния позвоночника и суставов. Тренировки проводятся только тренером- экспертом
                </p>
                <div class="benefits-caption">
                    В пакет входит:
                </div>
                <ul class="benefits">
                    <li>Первая консультация и ведение клиента Тренером - экспертом</li>
                    <li>8 персональных тренировок</li>
                    <li>Консультация диетолога</li>
                    <li>12 Групповых тренировок или самостоятельных посещений</li>
                </ul>
                <p class="rules">
                    количество и направление подбираются индивидуально персональным тренером
                </p>
            </div>
        </div>
        <div class="intensive-top">
            <div class="intensive-caption">
                Коррекция фигуры
            </div>
            <div class="intensive-description">
                Стань кремнем
            </div>
        </div>
        <div class="intensive-price">
            ЦЕНА: 29200 ₽
        </div>
        <button class="-button -transparent -fluid intensive-show-info">Подробнее</button>
        <button class="-button -transparent -fluid">Купить</button>
    </div>

    <div class="intensive">
        <div class="intensive-image" style="background-image: url(/img/mg-4139.jpg);">
            <div class="intensive-info">
                <p>
                    Тренировочная программа направленна на улучшение осанки, снятию мышечных болей, зажимов и блоков, создание мышечного баланса и укрепление пасторальных мышц, отвечающих за здоровье и функциональное состояния позвоночника и суставов. Тренировки проводятся только тренером- экспертом
                </p>
                <div class="benefits-caption">
                    В пакет входит:
                </div>
                <ul class="benefits">
                    <li>Первая консультация и ведение клиента Тренером - экспертом</li>
                    <li>8 персональных тренировок</li>
                    <li>Консультация диетолога</li>
                    <li>12 Групповых тренировок или самостоятельных посещений</li>
                </ul>
                <p class="rules">
                    количество и направление подбираются индивидуально персональным тренером
                </p>
            </div>
        </div>
        <div class="intensive-top">
            <div class="intensive-caption">
                Коррекция осанки
            </div>
            <div class="intensive-description">
                Твоя осиная талия
            </div>
        </div>
        <div class="intensive-price">
            ЦЕНА: 29200 ₽
        </div>
        <button class="-button -transparent -fluid intensive-show-info">Подробнее</button>
        <button class="-button -transparent -fluid">Купить</button>
    </div>

    <div class="intensive">
        <div class="intensive-image" style="background-image: url(/img/mg-3527.jpg);">
            <div class="intensive-info">
                <p>
                    Тренировочная программа направленна на улучшение осанки, снятию мышечных болей, зажимов и блоков, создание мышечного баланса и укрепление пасторальных мышц, отвечающих за здоровье и функциональное состояния позвоночника и суставов. Тренировки проводятся только тренером- экспертом
                </p>
                <div class="benefits-caption">
                    В пакет входит:
                </div>
                <ul class="benefits">
                    <li>Первая консультация и ведение клиента Тренером - экспертом</li>
                    <li>8 персональных тренировок</li>
                    <li>Консультация диетолога</li>
                    <li>12 Групповых тренировок или самостоятельных посещений</li>
                </ul>
                <p class="rules">
                    количество и направление подбираются индивидуально персональным тренером
                </p>
            </div>
        </div>
        <div class="intensive-top">
            <div class="intensive-caption">
                Тренировка героя
            </div>
            <div class="intensive-description">
                Стань кремнем
            </div>
        </div>
        <div class="intensive-price">
            ЦЕНА: 29200 ₽
        </div>
        <button class="-button -transparent -fluid intensive-show-info">Подробнее</button>
        <button class="-button -transparent -fluid">Купить</button>
    </div>

    <div class="intensive">
        <div class="intensive-image" style="background-image: url(/img/mg-2953.jpg);">
            <div class="intensive-info">
                <p>
                    Тренировочная программа направленна на улучшение осанки, снятию мышечных болей, зажимов и блоков, создание мышечного баланса и укрепление пасторальных мышц, отвечающих за здоровье и функциональное состояния позвоночника и суставов. Тренировки проводятся только тренером- экспертом
                </p>
                <div class="benefits-caption">
                    В пакет входит:
                </div>
                <ul class="benefits">
                    <li>Первая консультация и ведение клиента Тренером - экспертом</li>
                    <li>8 персональных тренировок</li>
                    <li>Консультация диетолога</li>
                    <li>12 Групповых тренировок или самостоятельных посещений</li>
                </ul>
                <p class="rules">
                    количество и направление подбираются индивидуально персональным тренером
                </p>
            </div>
        </div>
        <div class="intensive-top">
            <div class="intensive-caption">
                Беговая подготовка
            </div>
            <div class="intensive-description">
                10 км на одном дыхании
            </div>
        </div>
        <div class="intensive-price">
            ЦЕНА: 29200 ₽
        </div>
        <button class="-button -transparent -fluid intensive-show-info">Подробнее</button>
        <button class="-button -transparent -fluid">Купить</button>
    </div>
</div>