<h2 class="pb0 mb15 mt25">Членские тарифы</h2>

<div class="membership">
    <div class="page-description -fluid text-left">
        Данный тариф дает право на посещение групп и самостоятельных тренировок в студии. В случае посещения двух или более групп, с Клиента будут списываться все посещения. В данный тариф не входят секционные тренировки.
        Не использованные в течение срока действия Членства тренировки сгорают. Карта активируется с момента первой тренировки, но не позднее чем через 30 дней с момента приобретения. Через 30 дней активация происходит автоматически. Не подлежит заморозке. Ознакомьтесь с правилами  и условиями
    </div>

    <div class="offers-list">

        <div class="offer">
            <div class="offer-image" style="background-image: url(/img/cycle-upper-banner-2560.jpg);">
            </div>
            <div class="offer-inner">

                <div class="offer-left">
                    <div class="offer-period">
                        30 дней
                    </div>
                    <div class="offer-count">
                        30 тренировок
                    </div>
                </div>

                <div class="offer-right">
                    <div class="offer-cost">
                        12 000 руб
                    </div>
                    <div class="offer-cost-per-one">
                        стоимость тренировки 400 руб.
                    </div>
                    <button class="-button -fluid -h38 -fz-small">КУПИТЬ</button>
                </div>

            </div>
        </div>

        <div class="offer">
            <div class="offer-image" style="background-image: url(/img/personaltrain-upper-banner-2560.jpg);">
            </div>
            <div class="offer-inner">

                <div class="offer-left">
                    <div class="offer-period">
                        90 дней
                    </div>
                    <div class="offer-count">
                        90 тренировок
                    </div>
                </div>

                <div class="offer-right">
                <div class="offer-cost">
                    31 500 руб
                </div>
                <div class="offer-cost-per-one">
                    стоимость тренировки 350 руб.
                </div>
                <button class="-button -fluid -h38 -fz-small">КУПИТЬ</button>
                </div>
            </div>
        </div>

        <div class="offer">
            <div class="offer-image" style="background-image: url(/img/bootcamp-upper-banner-1920.jpg);">
            </div>
            <div class="offer-inner">

                <div class="offer-left">
                    <div class="offer-period">
                        180 дней
                    </div>
                    <div class="offer-count">
                        180 тренировок
                    </div>
                </div>
                <div class="offer-right">
                    <div class="offer-cost">
                        54 000 руб
                    </div>
                    <div class="offer-cost-per-one">
                        стоимость тренировки 300 руб.
                    </div>
                    <button class="-button -fluid -h38 -fz-small">КУПИТЬ</button>
                </div>
            </div>
        </div>

        <div class="offer">
            <div class="offer-image" style="background-image: url(/img/fights-upper-banner-2560.jpg);">
            </div>
            <div class="offer-inner">
                <div class="offer-left">
                    <div class="offer-period">
                        360 дней
                    </div>
                    <div class="offer-count">
                        360 тренировок
                    </div>
                </div>

                <div class="offer-right">
                    <div class="offer-cost">
                        90 000 руб
                    </div>
                    <div class="offer-cost-per-one">
                        стоимость тренировки 250 руб.
                    </div>
                    <button class="-button -fluid -h38 -fz-small">КУПИТЬ</button>
                </div>
            </div>
        </div>

    </div>
</div>

