
.pb {
    &0 {
        padding-bottom: 0 !important;
    }
}

.mb {
    &15 {
        margin-bottom: 15px !important;
    }
    &25 {
        margin-bottom: 25px !important;
    }
}

.mt {
    &25 {
        margin-top: 25px !important;
    }
}

.text{

    &-center {
        text-align: center !important;
    }

    &-left {
        text-align: left !important;
    }

}