
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;


$em8: .5em;
$em10: .625em;
$em11: .688em;
$em12: .750em;
$em13: .813em;
$em14: .875em;
$em16: 1em;
$em18: 1.125em;
$em20: 1.25em;
$em24: 1.5em;
$em28: 1.75em;
$em32: 2em;
$em36: 2.25em;
$em40: 2.5em;
$em42: 2.625em;
$em46: 2.875em;
$em48: 3em;
$em54: 3.375em;
$em56: 3.5em;
$em60: 3.75em;
$em70: 4.375em;
$em86: 5.375em;


$rem8: .5rem;
$rem10: .625rem;
$rem11: .688rem;
$rem12: .750rem;
$rem13: .813rem;
$rem14: .875rem;
$rem16: 1rem;
$rem18: 1.125rem;
$rem20: 1.25rem;
$rem24: 1.5rem;
$rem28: 1.75rem;
$rem32: 2rem;
$rem36: 2.25rem;
$rem40: 2.5rem;
$rem42: 2.625rem;
$rem46: 2.875rem;
$rem48: 3rem;
$rem54: 3.375rem;
$rem56: 3.5rem;
$rem60: 3.75rem;
$rem70: 4.375rem;
$rem86: 5.375rem;
